@light-black: #262626;
@dark-grey:#333333;
@white: #f4f2fc;
@green: #4CAF50;
@pink: #FF6D6D;
@light-grey:#d9d9d9;
@orange:#ff7733;
@green: #4CAF50;
@light-blue:#ccccff;
@light-green: #66ffb3;
@baloo: 'Baloo Da', cursive;
@font1:'Fredoka One', cursive;
@font2: 'Droid Sans', sans-serif;
@font3: 'Raleway', sans-serif;
@font4: 'Work Sans', sans-serif;
@font5: 'Eczar', serif;
@font6: 'Dosis', sans-serif;
@font7: 'Hind', sans-serif;
@font8: 'Cabin', sans-serif;
@font9: 'Nunito', sans-serif;
@blue: #7599d1;

.fadeinfast {
  animation: fadein 0.3s ease-in forwards;
}

.fadeinslow {
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.drop{
  animation: drop 0.5s ease-in forwards;
}

@keyframes drop {
    0%{
      opacity: 0;
      transform:translate(0px,-100px);
    }

    70%{
      opacity: 0.5;
      transform:translate(0px,50px)
    }
  100%{
    opacity: 1;
    transform:translate(0px,0px);
  }
}

.slidefromleft {
  animation: slidefromleft 0.5s ease-in forwards;
}

@keyframes slidefromleft {
    0% {
      opacity: 0;
      transform:translate(-300px,0px)
    }
    100% {
      opacity: 1;
      transform:translate(0px,0px);
    }
}





.headingStyle {
  maxWidth:100%;
  height:90px;
  background-color:@orange;
  padding-top:10px
}

.welcome_message {
  margin-top:120px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
};

.sign_in {

font-family:@font4;
font-size:16px;
background-color:@white;
width:600px;
height:450px;
border:3px solid @pink;
border-radius:2pc;
color:@light-black;
margin-top:50px;
margin-left:auto;
margin-right:auto
};



.outtercontainer {
 border:1px solid #bccaca;
 border-radius: 2px;
  height: 350px;
 width: 1100px;
 margin-bottom:20px;
 margin-left: auto;
 margin-right: auto;
font-size: 30px;
padding-bottom: 30px;

}

body {
  background-color:#f4f2fc;
  height: 1000px;

}


 .innercontainer {
     margin-top: 20px;
 height:300px;
 width: 1000px;
margin-left: 50px;
font-size: 12px;
padding: 10px;
position: absolute;


 }


 .itemdiv {
 border:1px solid black;
  height: 240px;
width: 180px;
float:left;
margin-left: 5px;
}

.item-info {
height: 20px;
font-size: 12px;
 word-break: normal;
}

.item-info a{
   position: relative;
width: 140px;
 }

 .item-price {

   height: 80px;
 font-size: 12px;
  word-break: normal;
 }

.item-price a{
 position: relative;
 width: 140px;
 }

.item-pic {
 height: 170px;
 }


 .item-pic img{
    display: block;
 max-height:170px;
max-width: 170px;
 margin-left: auto;
margin-right: auto;
 }


 .arrow-right {
  background-color: yellow;
  font-size: 35px;
  width: 50px;
  float: right;
 position: relative;
 bottom:113px;
 }

 /*.arrow-right i {
   width: 30px;
  padding-top: 70px;
   float:right;
 }*/

 .arrow-left {
     background-color: yellow;
    width: 50px;
   font-size: 35px;
    float: left;
    position: relative;
 top:80px; }


 /*.arrow-left i {
     width: 30px;
   padding-top: 70px;
  }*/

.outterbox {
    height: 700px;
    width: 700px;
    border: 1px solid black;
    margin-left: auto;
   margin-right: auto;
    margin-bottom: 100px;
}

.question {
    font-size: 30px;
    margin-left: auto;
   margin-right: auto;
}
.answer-list {
  font-size: 30px;
   border: 1px solid black;
   border-radius: 5px;
   width: 600px;
   margin-left: auto;
  margin-right: auto;
}

.answerButton {
  font-size:20px;
  width: 500px;
  height:40px;
  display:block;
  background-color: @light-blue;
  border:2px solid #FF6D6D;
  border-radius:5px;
  font-family:@baloo;
  color:@dark-grey;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px
}

.selectedAnswerButton {
  .answerButton;
    border:5px solid @pink;
    background-color: @light-green;

}

.nextbutton-enter {
  opacity:0.01;
}


.nextbutton-enter.nextbutton-enter-active {
  opacity: 1;
 transition: opacity 500ms ease-in;
}

.nextbutton-leave {
  opacity: 1;
}

.nextbutton-leave.nextbutton-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.buttonStyle {
  font-size:17px;
  width: 200px;
  height:40px;
  display:block;
  background-color: @green;
  border: 0px;
  border-radius:5px;
  font-family:@baloo;
  color:@white;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px
}


// user side bar

.user-side-bar li{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.darkli {

  background-color:@light-blue;
  font-family:@font4;
   border-style: solid;
   border-color: @light-grey;
  border-width:  1px 0px 1px 0px;
}
